/*Work-Sens Font form Google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared styls */
* {
  font-family: "Work Sans", serif;
}
.big-font {
  font-size: 3.5rem;
}
.text-light-grey {
  text-align: center;
  color: #6e6e74;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
}
/* end */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* Bannner styles */
.banner-content {
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #424242;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}
.btn-primary {
  border-radius: 10px;
  background-color: #ff900f;
  padding: 20px 30px;
  border: 0;
  color: #ffff;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

/* main section */
main {
  max-width: 1440px;
  margin: 70px 70px;
}

/* teams styles */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content-container {
  padding: 0 70px;
}
.teams-content-title {
  font-size: 3rem;
}
.teams-content-title .quick-list {
  font-weight: 500;
}

.teams-content-title .text-features {
  color: #ff900f;
  font-weight: 700;
}

/* Feature section styles */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}

.features .section-title {
  border-left: 5px solid #ff900f;
  padding-left: 15px;
}
.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgb(113, 106, 113);
}
.feature-image img {
  height: 80%;
  width: 100%;
}
.ten-years-badge {
  width: 340px;
  border-radius: 5px;
  background-color: #ff900f;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  bottom: 80px;
  right: 80px;
}
.ten-years-badge h2 {
  margin: 0;
  font-size: 3rem;
}
.ten-years-badge p {
  position: relative;
  bottom: 10px;
  font-size: 1.5rem;
}

/* Facts Section */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.facts-card-container .card {
  border-radius: 8px;
  border-bottom: 2px solid sandybrown;
  border-right: 2px solid sandybrown;
  padding: 30px;
  margin-top: 30px;
}
.facts-card-container .card-title {
  margin-top: 5px;
  font-weight: 500;
  font-size: 1.25rem;
}
.facts-card-container .card-stats {
  font-size: 2.5rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* sponsors styles */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.sponsors-img-container img {
  width: 145px;
}

/* Footer section */
.footer {
  width: 1440px;
  height: 300px;
  background-color: #fff;
}
.footer-description {
  left: 150px;
  top: 50px;
  position: relative;
  width: 1000px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  background: #fff7ee;
  padding: 30px;
}
/* Responsive part */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .section-title {
    text-align: center;
  }
  .teams-content-container {
    padding: 0px 10px;
    text-align: center;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .teams-image-container {
    grid-template-columns: 1fr;
  }
  .feature-img img {
    width: 100%;
    margin: 0;
  }
  .ten-years-badge {
    position: relative;
    width: 220px;
    height: 120px;
    bottom: 60px;
    left: 50px;
  }
  .ten-years-badge h2 {
    font-size: 1.8rem;
    padding-top: 20px;
  }
  .footer,
  .footer-description {
    position: static;
    width: 90%;
    height: 80%;
  }
  .footer-description {
    margin-left: 15px;
  }
  /* .text-light-grey {
    text-align: start;
  } */
}
/* Medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 40px;
  }
  nav,
  .teams-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .teams-image-container {
    grid-template-columns: 1fr;
  }
}
